@import url('https://fonts.googleapis.com/css2?family=Monda&family=Montserrat:wght@200;300;600;800&family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #2f2f2f;
  --text-dark: #18181b;
  --text-light: #71717a;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: 'Monda', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  background-color: rgb(123, 130, 168);
  color: #ffffff;
  font-weight: 400;
  line-height: 1.5;
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.1)),
    url("/src/assets/phone.png");
    background-position: left bottom;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  color: #d9d5ce;
  text-align: center;
  padding: 0rem 2rem;
  font-size: 15rem;
}

h2 {
  font-size: 7rem;
  text-align: center;
  padding: 1rem 0rem;
}

h3 {
  font-size: 2rem;
  padding: 0.25rem 1rem;
  text-align: center;
}

h4 {
  color:#18181b;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  text-align: center;
}

p {
  margin-top: 0;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  text-align: center;
}

ul {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div {
  margin: auto;
  margin-right: 0rem;
  padding: 0rem;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--white);
  padding: 0rem;
  font-weight: 700;
}

nav a {
  font-weight: 400;
  padding: 1rem 2rem;
}

header div a {
  padding: 0rem 2rem;
}

span {
  font-weight: 400;
  padding: 1rem;
}

button {
  font-family: inherit;
  font-weight: 600;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: #f1c794;
  border-radius: 5rem;
  border: 0.5px solid #f7f1f1;
  cursor: pointer;
  transition: 0.3s;
}

nav {
  max-width: var(--max-width);
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

input {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  display: block;
  outline: none;
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
  border: 0.5px solid #f7f1f1;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: #f7f1f1;
}

input::placeholder {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  color: #a9a7a7;
  font-size: 1.5rem;
  background-color: transparent;
}
/* Carousel */
.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}